@import 'variables';

.SongList {
  .Song {
    background: $color--bg-secondary;
    border-top: 1px solid $color--bg;
  }
  &__title {
    font-size: 1.5em;
    font-weight: 300;
    margin: .5em 1.25em;
  }
  &__more {
    margin: 1em auto 4em;
    text-align: center;
  }
}
